* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    color: #343a40; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
}

header {
    background-color: #2E86C1; 
    color: white;
    padding: 10px 0;
}

#inicio {
    background-color: whitesmoke; 
    color: #343a40; 
    padding: 60px 0;
}

#inicio h1 {
    font-size: 3rem;
}

#inicio p {
    font-size: 1.5rem;
}

.foto_perfil {
    width: 500px;
    height: 300px;
}

#sobre {
    background-color: #5DADE2;
    color: white;
    padding: 60px 0;
}

#linguagens {
    background-color: whitesmoke; 
    color: #343a40; 
    padding: 60px 0;
}

#linguagens .img-fluid {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

#projetos {
    background-color: #34495E; 
    color: white;
    padding: 60px 0;
}

.projeto_conteudo {
    position: relative;
    height: 540px;
    width: 100%;
    overflow: hidden;
}

.slide {
    transition: 0.6s;
}

#slide1:checked ~ .slide_principal {
    margin-left: 0;
}

#slide2:checked ~ .slide_principal {
    margin-left: -33.33%;
}

#slide3:checked ~ .slide_principal {
    margin-left: -66.66%;
}

.slides {
    display: flex;
    width: 300%;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.navegacao {
    text-align: center;
    margin-top: 20px;
}

.barra {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#slide1:checked ~ .navegacao .barra:nth-child(1),
#slide2:checked ~ .navegacao .barra:nth-child(2),
#slide3:checked ~ .navegacao .barra:nth-child(3) {
    background-color: #007bff;
}

#contato {
    background-color: #FFFFFF; 
    padding: 60px 0;
}

#contato h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#contato p {
    font-size: 1.2rem;
}

#contato a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

#contato a:hover {
    color: #0056b3;
}

footer {
    background-color: #2E86C1; 
    color: white;
    padding: 15px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.img-social {
    max-width: 30px;
    max-height: 30px;
}

.social-media {
    display: flex;
}

.social-media p {
    margin-right: 10px;
}

h5 {
    text-align: center;
    margin-top: 10px;
}