* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
    color: #343a40; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
}

header {
    background-color: #2E86C1; 
    color: white;
    padding: 10px 0;
}

#inicio {
    background-color: whitesmoke; 
    color: #34495E; 
    padding: 60px 0;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.37);
}

#inicio h1 {
    font-size: 3rem;
}

#inicio p {
    font-size: 1.5rem;
}

.foto_perfil {
    width: 500px;
    height: 300px;
}

#sobre {
    background-color: #5DADE2;
    color: white;
    padding: 60px 0;
}

#linguagens {
    background-color: whitesmoke; 
    color: #34495E; 
    padding: 60px 0;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.37);
}

#linguagens .img-fluid {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

#projetos {
    background-color: #34495E; 
    color: white;
    padding: 60px 0;
}

#contato {
    background-color: #FFFFFF; 
    padding: 60px 0;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.37);
}

#contato h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #34495E;
}

#contato p {
    font-size: 1.2rem;
    color: #34495E;
}

#contato a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

#contato a:hover {
    color: #0056b3;
}

footer {
    padding: 15px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.img-social {
    max-width: 30px;
    max-height: 30px;
}

.social-media {
    display: flex;
}

.social-media p {
    margin-right: 10px;
}

h5 {
    text-align: center;
    margin-top: 10px;
}

.projeto-repo {
    margin-top: 15px;
    background-color: #0d1117;
    color: white;
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border-radius: 6px;
    margin: 20px 10px;
}

.projeto-repo a{
    text-align: none;
    color: #8b949e;
}

.projeto-repo div {
    display: flex;
    justify-content: space-between;
}

.projeto-repo div .date-create {
    color: #8b949e;
    border: 1px solid #8b949e;
    border-radius: 20px;
    padding: 7px;
    font-size: 0.9rem;
}

.projeto-repo div .title {
    color: #47a6f0;
}

.projeto-repo .language .circle {
    background-color: #47a6f0;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #30363d;
}